/*
    parent CSS stylesheets
    version: 1.0
    author: Thomas Guillaume

    # color
    warring : #c62828
    background top bar : #008ba3
    button blue : #56c8d8
    button white : #fafafa
    grey : #eceff1

 */


.button-raised{
    -fx-border: none;
    -fx-cursor: pointer;
    -fx-padding: 15px 40px;
    -fx-border-radius: 2px;
    -fx-font-size: 13;
    -fx-background-color: #56c8d8;
    -fx-text-fill: BLACK;
    -fx-font-weight: bold;
    -jfx-disable-visual-focus: true;
}

.patient_cell{
    -fx-padding: 20 20 20 20;
    -fx-font-size: 14;
    -jfx-button-type: RAISED;
    -fx-background-color: #fafafa;
}

.patient_cell_list{
    -fx-min-width: 350;
    -fx-pref-width: 350;
    -fx-max-width: 350;
}


.warring_label{
    -fx-text-fill: red;
    -fx-padding: 20 20 20 20;
}

.label_form{
    -fx-font-weight: bold;
    -fx-font-style: italic;
}
