/*
    scene: consultation
    version: 1.0
    author: Thomas Guillaume
 */


.content_text{
    -fx-padding: 10,10,10,10;
}

.consultation_cell{
    -fx-max-width: 650;
    -fx-min-width: 650;
    -fx-padding: 20 20 20 20;
    -fx-font-size: 18;
    -jfx-button-type: RAISED;
    -fx-background-color: #fafafa;
}
