/*
    scene: consultation
    version: 1.0
    author: Thomas Guillaume
 */


.content_text {
  -fx-padding: 10, 10, 10, 10;
}

.consultation_cell {
  -fx-font-size: 18;
  -fx-max-width: 650;
  -fx-min-width: 650;
  -jfx-button-type: RAISED;
  -fx-background-color: #fafafa;
}